@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lq2q4y');
  src:  url('fonts/icomoon.eot?lq2q4y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lq2q4y') format('truetype'),
    url('fonts/icomoon.woff?lq2q4y') format('woff'),
    url('fonts/icomoon.svg?lq2q4y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
    color: blueviolet;
}
.icon-blue-mana_adobe_express .path1:before {
  content: "\e900";
  color: rgb(83, 169, 201);
}
.icon-blue-mana_adobe_express .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-blue-mana_adobe_express .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-blue-mana_adobe_express .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-blue-mana_adobe_express .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-blue-mana_adobe_express .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-blue-mana_adobe_express .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(83, 168, 200);
}
.icon-blue-mana_adobe_express .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(26, 41, 59);
}
.icon-blue-mana_adobe_express .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(82, 167, 198);
}
.icon-blue-mana_adobe_express .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(24, 37, 55);
}
.icon-blue-mana_adobe_express .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(25, 40, 58);
}
.icon-blue-mana_adobe_express .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(26, 41, 59);
}
.icon-blue-mana_adobe_express .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(25, 40, 58);
}
.icon-blue-mana_adobe_express .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(26, 41, 60);
}
.icon-blue-mana_adobe_express .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(26, 41, 59);
}
.icon-blue-mana_adobe_express .path16:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(26, 42, 60);
}
.icon-blue-mana_adobe_express .path17:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(26, 41, 59);
}
.icon-blue-mana_adobe_express .path18:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(26, 41, 59);
}
.icon-blue-mana_adobe_express .path19:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(25, 40, 58);
}
.icon-blue-mana_adobe_express .path20:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(25, 40, 58);
}
